/* Product Grid */
 .product-loop__badge-icon {
	 display: inline-block;
	 font-size: 0.75rem;
	 height: 26px;
	 line-height: 26px;
	 padding: 0 8px 0 8px;
	 position: absolute;
	 z-index: 1;
}
 .product-loop__badge-icon.icon-type--sold-out {
   background-color: var(--text-color);
	 color: var(--background);
}
 .product-loop__badge-icon.icon-type--sale-item {
	 background-color: var(--sale-color);
	 color: #fff;
}
 .product-loop__badge-icon.icon-type--new {
	 background-color: var(--text-color);
	 color: var(--background);
}
.product-loop__badge-icon.icon-type--pre-order {
	background-color: var(--text-color);
	color: var(--background);
}
 .product-loop__img-wrapper {
	 overflow: hidden;
}
 .product-loop__title,
 .product-loop__title a,
 .product-title,
 .product-title a {
   font-family: var(--main-family);
   font-style: var(--main-style);
   font-weight: var(--main-weight);
   letter-spacing: var(--main-spacing);
	 font-size: var(--font-size);
	 line-height: 1.2;
}
 .product-loop__vendor {
	 font-size: var(--font-size-sm);
	 line-height: 1.57;
	 letter-spacing: 1px;
	 word-break: break-all;
}
 .product-loop__subtitle {
   font-family: var(--main-family);
   font-weight: var(--main-weight);
   letter-spacing: var(--main-spacing);
	 font-size: var(--font-size);
	 font-style: italic;
	 line-height: 1.54;
}
 .product-loop__price {
	 font-family: var(--main-family);
	 font-size: var(--font-size);
	 font-stretch: normal;
	 font-style: normal;
	 line-height: 1.57;
	 letter-spacing: 1px;
}
 .product-loop__price--savings {
	 color: var(--sale-color-dark);
}
 @media (max-width: 767px) {
	 .product-loop__price--savings {
		 display: block;
	}
}
 .product-loop__item--square .box-ratio {
	 padding-bottom: 100% !important;
}
 .product-loop__item--square .box-ratio,
 .product-loop__item--square .product-loop__video-inner-wrapper {
	 padding-bottom: 100% !important;
}
 .product-loop__item--square .box-ratio img {
	 object-fit: cover;
	 height: 100%;
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 -webkit-transform: translate(-50%, -50%);
	 -ms-transform: translate(-50%, -50%);
	 -moz-transform: translate(-50%, -50%);
	 -o-transform: translate(-50%, -50%);
}
 .product-loop__item--square .product-loop__info-wrapper {
	 padding-top: var(--space-2);
}
.product-loop__item--vertical .box-ratio,
.product-loop__item--vertical .product-loop__video-inner-wrapper {
	 padding-bottom: 140% !important;
}
 .product-loop__item--vertical .box-ratio img {
	 object-fit: cover;
	 height: 100%;
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 -webkit-transform: translate(-50%, -50%);
	 -ms-transform: translate(-50%, -50%);
	 -moz-transform: translate(-50%, -50%);
	 -o-transform: translate(-50%, -50%);
}
 .product-loop__item--vertical .product-loop__info-wrapper {
	 padding-top: var(--space-2);
}
 .product-loop__item--horizontal .box-ratio,
 .product-loop__item--horizontal .product-loop__video-inner-wrapper {
	 padding-bottom: 71.4% !important;
}
 .product-loop__item--horizontal .box-ratio img {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 -webkit-transform: translate(-50%, -50%);
	 -ms-transform: translate(-50%, -50%);
	 -moz-transform: translate(-50%, -50%);
	 -o-transform: translate(-50%, -50%);
}
 .product-loop__item--horizontal .product-loop__info-wrapper {
	 padding-top: var(--space-2);
}

@media (hover: hover) {
	.product-loop__img-wrapper:hover .product-loop__img-wrapper--hidden {
		z-index: 1;
		opacity: 1;
		background-color: var(--background);
	}
}

.product-loop__img-wrapper .product-loop__img-wrapper--hidden {
	 display: block !important;
	 visibility: visible !important;
	 overflow: hidden;
	 position: absolute;
	 z-index: -1;
	 top: 0;
	 width: 100%;
	 height: 100%;
	 opacity: 0;
	 -webkit-transition: opacity 0.3s ease-in-out;
	 -moz-transition: opacity 0.3s ease-in-out;
	 -o-transition: opacity 0.3s ease-in-out;
	 transition: opacity 0.3s ease-in-out;
}
 .product-loop__swatch-wrapper ul {
	 list-style-type: none;
	 margin: 0;
	 padding: 0;
	 margin-top: 10px;
}
 .product-loop__swatch-wrapper li {
	 display: -moz-inline-stack;
	 display: inline-block;
	 zoom: 1;
	 padding: 0;
	 margin: 0px 4px;
}
 .product-loop__swatch-wrapper li span {
	 display: block;
	 margin: 5px 10px;
}
 .product-loop__swatch-wrapper li.color {
	 width: 20px;
	 height: 20px;
}
 .product-loop__swatch-wrapper li.color span {
	 width: 100%;
	 height: 100%;
	 margin: 0;
	 border-radius: 50%;
	 box-shadow: 0px 0px 0px 1px var(--dotted-color);
	 background-position: center;
}
 .product-loop__swatch-wrapper .product-loop__swatch-options li {
	 -webkit-transform: translateZ(0);
	/* webkit flicker fix */
	 -webkit-font-smoothing: antialiased;
	/* webkit text rendering fix */
}
.product-loop__swatch-wrapper .product-loop__swatch-options.size li {
	margin: 0 3px;
}
@media screen and (max-width: 767px) {
	.product-loop__swatch-wrapper li.color {
    margin-bottom: 5px;
		width: 15px;
		height: 15px;
	}
}
/* --- Product Page, Featured Product, Product Grid Ratings Block --- */
.product__section-rating {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.product__section-rating-star {
  --letter-spacing: 0.2;
  --font-size: 1;
}

.product__section-rating-star {
  --percent: calc((var(--rating) / var(--rating-max) + var(--rating-decimal) * var(--font-size) / (var(--rating-max) * (var(--letter-spacing) + var(--font-size)))) * 100%);
  letter-spacing: calc(var(--letter-spacing) * 1rem);
  font-size: calc(var(--font-size) * 1rem);
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  font-family: Times;
  margin: 0;
}

.product__section-rating-star::before {
  content: '★★★★★';
  background: linear-gradient(
    90deg,
    var(--star-active) var(--percent),
    var(--star-inactive) var(--percent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.product__section-rating-text {
  display: none;
}

.product__section-rating-count {
  display: inline-block;
  margin: 0;
  font-size: 11px;
  vertical-align: middle;
}

@media (forced-colors: active) {
  .product__section-rating {
    display: none;
  }

  .product__section-rating-text {
    display: block;
  }
}
.product-listing__quickview-trigger {
  display: none;
}

/* Foodie Custom */
.product-loop__item {
  padding-bottom: 20px;
}
@media (min-width:1024px) {
	.product-loop__item:hover {
	  background-color: var(--secondary-bg);
	}
  .product-loop__item.dropshadow--true:hover {
    -webkit-box-shadow: 20px 20px 0 0 var(--box-shadow-color);
    -moz-box-shadow: 20px 20px 0 0 var(--box-shadow-color);
    box-shadow: 20px 20px 0 0 var(--box-shadow-color);
  }
}
.product-loop__item .product-loop__price:before,
.product-loop__item .product-price:before  {
  content: "";
  width: 32px;
  height: 1px;
  background: var(--text-color);
  display: block;
  margin: 0 auto;
  margin-bottom: var(--space-4);
}

@media screen and (max-width: 767px) {
	.product-loop__item .product-loop__price:before,
	.product-loop__item .product-price:before  {
		display: none;
	}
}

.product-loop__item .product-subtitle {
  font-family: var(--main-family);
  font-size: var(--font-size-sm);
  font-style: italic;
  line-height: 1.54;
}

.product-loop__item.square .product-info {
  padding-top: var(--space-6);
}
