@media (max-width: 767px) {
  .password-page div>a, .password-page div>p {
    font-size: var(--font-size);
  }

  .password-page .left {
    min-height: 450px;
  }

  .password-page .password-page-footer {
    position: relative;
    margin-top: var(--space-10);
  }
}
