.section-footer {
  background-color: var(--footer-bg);
  color: var(--footer-text);
  border-color: var(--footer-text);
}

.section-footer a, .section-footer a:visited, .section-footer p,
.section-footer small, .section-footer small a, .section-footer small a:visited,
.section-footer h1,
.section-footer h2,
.section-footer h3,
.section-footer h4,
.section-footer h5,
.section-footer h6 {
  color: var(--footer-text);
}

.section-footer .disclosure-list {
  background-color: var(--footer-text);
  color: var(--footer-bg);
}

.section-footer .disclosure-list a {
  color: var(--footer-bg);
  text-transform: capitalize;
}

.section-footer small, .section-footer small a, .section-footer small a:visited {
  display: inline;
}

.section-footer svg.payment-icon {
  margin-bottom: var(--space-1);
}

.section-footer .disclosure {
  position: relative;
}

.section-footer .disclosure__toggle {
  white-space: nowrap;
  margin: 0;
}

.section-footer .disclosure-list {
  bottom: 65%;
  right: 0;
  position: absolute;
  display: none;
  min-height: 92px;
  max-height: 300px;
  overflow-y: auto;
}

@media (max-width: 767px) {
  .section-footer .disclosure-list {
    right: unset;
    left: 0;
  }
}

.section-footer .disclosure-list--visible {
  display: block;
}

.section-footer .disclosure-list__item {
  border-bottom: 1px solid transparent;
  white-space: nowrap;
  text-align: left;
}

.section-footer .disclosure-list__item:active {
  background-color: rgba(128, 128, 128, 0.2);
}

.section-footer .selectors-form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-bottom: var(--space-2);
}

.section-footer .selectors-form__item {
  margin: 0 5px;
}

@media (max-width: 767px) {
  .section-footer .right-footer {
    text-align: left !important;
  }

  .section-footer .right-footer .selectors-form {
    justify-content: flex-start;
  }
}

/* Localization */
.section-footer .localization__currency,
.section-footer .localization__language {
  display: inline-block;
}

.section-footer .disclosure {
  position: relative;
  display: inline-block;
}

.section-footer .disclosure__button {
  white-space: nowrap;
  margin: 0;
  text-transform: uppercase !important;
  font-size: var(--font-size-sm);
}

.section-footer .bottom-footer.a-left .disclosure__list,
.section-footer .bottom-footer.a-center .disclosure__list {
  left: 0;
}

.section-footer .bottom-footer.a-right .disclosure__list {
  right: 0;
}

.section-footer .disclosure__list-container {
  background: var(--background);
  bottom: 60px;
  right: 0;
  padding: var(--space-3);
  position: absolute;
  max-height: 320px;
  z-index: 2;
  border: 1px solid  var(--dotted-color);
}


.section-footer ul.disclosure__list {
  list-style: none;
  height: 290px;
  overflow-y: auto;
  overflow-x: hidden;
}

.section-footer .disclosure__list a.disclosure__link {
  color: var(--footer-bg) !important;
  text-transform: capitalize;
  font-size: var(--font-size-sm);
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
}

.section-footer .disclosure__item a.disclosure__link > span {
  letter-spacing: unset !important;
  color: var(--text-color) !important;
}

.section-footer .disclosure__list a.disclosure__link:hover {
  text-decoration: underline;
}

.section-footer .disclosure__item {
  border-bottom: 1px solid transparent;
  white-space: nowrap;
  text-align: left;
}

.section-footer small, .section-footer small a, .section-footer small a:visited {
  display: inline;
  font-size: var(--font-size-sm);
}

.section-footer svg.payment-icon {
  margin: 0 var(--space-1) var(--space-1) var(--space-1);
}

@media (max-width: 767px) {
  .section-footer .disclosure__list {
    right: unset;
    left: 0;
  }
}

.section-footer .localization-form__currency {
  font-size: 80%;
}

div#FooterLanguageList {
  height: 140px;
  width: 140px;
}

div#FooterLanguageList ul.disclosure__list {
  height: 115px;
}

div#FooterLanguageList li.disclosure__item {
  width: 120px;
}


/* Noscript Localization Form */
.no-js .section-footer .localization-selector {
  color: var(--footer-text) !important;
  height: 30px;
}
.no-js .section-footer .localization-form__select {
  border: 1px solid var(--footer-text) !important;
}
.no-js .section-footer .localization-form__noscript-btn {
  border-top: 1px solid var(--footer-text) !important;
  border-right: 1px solid var(--footer-text) !important;
  border-bottom: 1px solid var(--footer-text) !important;
  height: 32px !important;
  vertical-align: middle;
  padding: 0 4px !important;
}
.no-js .section-footer .localization-form__noscript-btn:hover {
  border-top: 1px solid var(--footer-text) !important;
  border-right: 1px solid var(--footer-text) !important;
  border-bottom: 1px solid var(--footer-text) !important;
}
.no-js .section-footer .localization-form__noscript-btn:hover svg .hover-fill {
  fill: var(--footer-text) !important;
}

/* Foodie Custom */
.section-footer button.btn-outline.disclosure__button {
  color: var(--footer-text);
  background-color: var(--footer-bg);
  border-color: var(--footer-text);
}
.section-footer button.btn-outline.disclosure__button:hover {
  color: var(--footer-text);
  background-color: var(--footer-bg);
  border-color: var(--footer-text);
}
.section-footer button.btn-outline.disclosure__button:after {
  border-color: var(--footer-text);
}
.section-footer button.btn-outline.disclosure__button:hover:after {
  border-color: var(--footer-text);
}
body.buttons--borders .section-footer button.btn-outline.disclosure__button:after {
  background: var(--footer-bg);
}
body.buttons--layer .section-footer button.btn-outline.disclosure__button:hover {
  color: var(--footer-bg);
}
body.buttons--layer .section-footer button.btn-outline.disclosure__button:hover::after {
  background: var(--footer-text);
}
.section-footer .footer-logo {
  max-width:  200px;
}
