@media (max-width: 767px) {
  .template-order .product .image {
    display: none;
  }
}

@media (max-width: 767px) {
  .template-addresses #address-loop {
    text-align: center;
  }
}

section.accounts__edit-address__container {
  position: relative;
  z-index: 1;
}

.customer-order__table td.product img {
  max-width: 220px !important;
}
